.button{
    border: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: red;
    background: transparent;
    transform: translateY(0, 0);
}

.button:hover{
    color: blueviolet;
}

.select{
    padding: 1rem;
    border-radius: 50%;
    transform: translateY(-60%);
    transition: all .4s ease-in-out;
    animation: bg 400ms forwards  ease-in-out;
}

@keyframes bg {
    100%{
        border-radius: 50%;
        background-color: #fff;       
    }
}

.button .close{
    position: absolute;
    right: 0;
}