.select{
    padding: 1rem;
    border-radius: 50%;
    
    animation: bg .5s forwards alternate;
    transition: all 10s ease-in-out;
}


@keyframes bg {
    0%{
        transform: translateY(0);  
    }
    100%{
        border-radius: 50%;
        background-color: #fff;  
        transform: translateY(-60%);    
    }
}

.home, 
.pizza, 
.hamburguer,
.hotdog{
    color: red;
    font-size: 2rem;
}

.home:hover, 
.pizza:hover, 
.hamburguer:hover,
.hotdog:hover{
   color: rgb(255, 1, 1);
}

